/*ALL CONTENT*/
html {
  font-size: 18px;
  font-family: Helvetica;
  min-width: 200px;
}

p {
  line-height: 1.4;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.flex, .logo, .icon {
  display: flex;
}

/**LOGO**/
.logo {
  align-items: center;
}

.logo img {
  height: 1.5rem;
  width: auto;
  margin-left: 2rem;
  margin-right: 1rem;
}

/**NAVIGATION**/
nav ul {
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
}

nav ul li {
  padding: 0 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

/*HEADER*/
header .flex {
  justify-content: flex-end;
}

#banner {
  height: 30rem;
  background-image: url(../images/glasses-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#navbar {
  height: 3rem;
  position: relative;
  top: 1rem;
  color: white;
  background-color: cadetblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#banner-content {
  line-height: 1.2;
  font-size: 2rem;
  font-weight: bold;
  padding: 1.5rem 5rem;
  margin-top: 10rem;
  margin-right: -2rem;
  color: black;
  background-color: white;
}

/*MAIN CONTENT*/
#main-content .flex {
  justify-content: center;
}

/**ICONS**/
#icons {
  margin-top: 3rem;
}

.icon {
  height: 8rem;
  width: 5rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 3rem;
  text-align: center;
}

.icon-img {
  height: 5rem;
  width: 5rem;
}

.icon-img img {
  max-height: 5rem;
  max-width: 5rem;
}

/*INFORMATION*/
#information {
  margin-top: 3rem;
}

.info {
  margin: 0 2.5%;
  width: 35%;
}

.title {
  font-weight: bold;
  padding: 0.5rem 1.25rem;
  width: 10rem;
  margin-bottom: 1rem;
  background-color: cadetblue;
}

/*FOOTER*/
footer .flex {
  margin-top: 5rem;
  background-color: azure;
}

footer .logo {
  margin: 4rem 2rem;
}

/*DESKTOP*/
@media only screen and (min-width: 1024px) {
  .tablet {
    display: none;
  }

  .phone {
    display: none;
  }
}

/*TABLET*/
@media only screen and (min-width: 640px) and (max-width: 1024px) {
  .not-tablet {
    display: none;
  }

  .phone {
    display: none;
  }

  .container {
    max-width: 100%;
    width: 100%;
  }

  #banner {
    height: 22rem;
  }

  #navbar {
    top: 0;
    width: auto;
  }

  #banner-content {
    margin-top: 5rem;
    margin-right: 2rem;
    padding: 0.75rem 4rem;
    font-size: 1.33rem;
  }

  footer .flex {
    width: auto;
  }
}

/*PHONE*/
@media only screen and (max-width: 640px) {
  .not-phone {
    display: none;
  }

  p {
    font-size: 0.77rem;
  }

  header .flex {
    justify-content: center;
  }

  .container {
    max-width: 100%;
    width: 100%;
  }

  #banner {
    height: 17rem;
    background-position: 20%;
  }

  #navbar {
    top: 0;
  }

  .logo img {
    margin: 0 1rem;
  }

  .logo span {
    display: none;
  }

  #banner-content {
    width: 100%;
    margin: 9rem 0 auto 0;
    padding: 1rem 0;
    font-size: 1rem;
    text-align: center;
  }

  #icons {
    margin-top: 3.77rem;
    margin-bottom: -1.54rem;
    flex-direction: column;
    align-items: center;
  }

  .icon {
    margin-bottom: 1.54rem;
  }

  #information {
    margin-top: 3.77rem;
    margin-bottom: -4rem;
    flex-direction: column;
  }

  .title {
    width: auto;
    padding: 0.5 0;
    text-align: center;
  }

  .info {
    width: 100%;
    margin: 0 0 4rem 0;
  }

  footer .flex {
    width: auto;
    justify-content: center;
  }
}
